# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Environment Secrets
.env
.env.*
supabase/functions/.env

# Supabase
supabase/.temp/
supabase/.branches/
